
@{
    ViewBag.Title = "Arenda";
}

<h2>Аренда</h2>
<div>
    <table>
        <tr>
            <td>Код аренды</td>
            <td>ФИО</td>
            <td>Модель</td>
            <td>Дата начало аренды</td>
            <td>Дата конца аренды</td>
        </tr>
        @foreach (var i in ViewBag.Arenda)
        {
        <tr>
            <td>@i.Id</td>
            <td>@i.Avto.Model</td>
            <td>@i.Data_take</td>
            <td>@i.Data_re</td>
        </tr>
        }
    </table>
</div>
